extends ../blocks/layout
block content
  .container
    .jumbotron.text-center.bg-transparent
      h1.display-4 404 Not Found
      p.lead
      | I'm sorry but the requested resource is not available or does not exist.
      | If you feel this is in error, please contact my administrator.