include ../blocks/header
.container
  .jumbotron.text-center.bg-transparent
    h1.display-4 500 Internal Server Error
    br
    //img(src="https://i.giphy.com/media/TqiwHbFBaZ4ti/source.gif")
    img(src="https://i.giphy.com/media/H7wajFPnZGdRWaQeu0/giphy.webp")
    br
    p.lead 
    | An unexpected error has occured while processing your request.
    br
    | Please report this to my administrator.
    
    