include ../blocks/header
.container
  .jumbotron
    h1 Dashboard Unavailable
    p.lead
      | The dashboard is currently down due to a service outage or disabled temporarily for necessary maintenance.
      br
      | We are sorry for the inconvenience that this may cause and will hopefully be back again soon.