<%- include('../blocks/header', {bot, user, path}) %>
<div class="container">
    <div class="jumbotron text-center bg-transparent">
        <h1 class="display-4">404 Not Found</h1>
        <p class="lead"></p>I'm sorry but the requested resource is not available or does not exist.
        If you feel this is in error, please contact my administrator.
    </div>
</div>