.commands_help {
  padding: 2rem;
  background-color: rgba(100, 148, 237, 0.233);
  border-color: rgba(100, 205, 237, 0.425);
  border-style: solid;
  border-width: 5px;
}
.commands_list {
  padding: 2rem;
  background-color: rgba(100, 148, 237, 0.274);
  border-color: rgba(100, 205, 237, 0.425);
  border-style: solid;
  border-width: 5px;
}

.dev_warning {
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: rgba(255, 101, 40, 0.26);
  border-color: rgba(255, 72, 0, 0.288);
  border-style: solid;
  border-width: 1px;
}

.member_card {
  text-align: left;
  padding: 0.5rem;
  background-color: rgba(40, 140, 255, 0.26);
  border-color: rgba(0, 132, 255, 0.288);
  border-style: solid;
  border-width: 2px;
}
.member_avatar {
  border-radius: 10%;
  border-color: rgba(0, 140, 255, 0.288);
  border-style: solid;
  border-width: 4px;
}

.settings_card_base {
  text-align: left;
  padding: 0.5rem;
  background-color: rgba(118, 118, 145, 0.295);
  border-color: rgba(88, 95, 126, 0.288);
  border-style: solid;
  border-width: 2px;
}
.settings_card_modules {
  text-align: left;
  padding: 0.5rem;
  background-color: rgba(118, 118, 145, 0.295);
  border-color: rgba(88, 95, 126, 0.288);
  border-style: solid;
  border-width: 2px;
}