include ../blocks/header
include ../blocks/navbar

.container
  .jumbotron.text-center.bg-transparent
    h1.display-4 Under construction!
    p.lead
    | This part of the dashboard is not yet completed. You&apos;ll have to use the commands in the meantime to change my settings. Sorry about that. - Cora
    
include ../blocks/footer