include ../blocks/header
include ../blocks/navbar

.container
  include ../blocks/guild-nav
  .jumbotron.text-center.bg-transparent
    h3.display-4 #{guild.name} Settings
    p.lead
    | This part of the dashboard is not yet completed. You&apos;ll have to use the commands in the meantime to change my settings. Sorry about that. - Cora
    
include ../blocks/footer