include ../blocks/header
include ../blocks/navbar

.container
  include ../blocks/guild-nav
  .jumbotron.text-center.bg-transparent
    h3.display-4 #{guild.name} Settings
    p.lead
    | This part of the dashboard is not yet completed and may not be functional. 
    br
    | You&apos;ll have to use the commands in the meantime to change my settings.
    br
    | Sorry about that. - Nova Lynxie
    .settings_card_base
      h4 Module Settings
      .settings_card_modules
        h5 Main Modules 
        p 
        | AutoNotify: N/A      
        br
        | ChatBot: N/A
        br
        | ModBot: N/A
      .settings_card_modules
        h5 Log Modules
        p
        | Bot Logger: N/A
        br
        | Mod Logger: N/A

    
include ../blocks/footer