include ../blocks/header
include ../blocks/navbar

- var {announcerSettings, autoModSettings, chatBotSettings, botLogSettings, modLogSettings} = settings

.container
  include ../blocks/guild-nav
  block navtab
    - var activeTab = 'manage'  
  .jumbotron.text-center
    h3.display-4 #{guild.name} Settings
    p.lead
    | This part of the dashboard is not yet completed and may not be functional. 
    br
    | You&apos;ll have to use the commands in the meantime to change Cora's settings.
    br
    | Sorry about that. - Nova Lynxie
    .settings_card_base
      h3 Bot Control Panel
      .settings_card_modules
        h4 All Module Status
        .settings_card_modules.div(style='display:inline-block vertical-align:"top"')
          h5 Main Modules
          table.settings_table_main(border="1")
            tr
              th Module Name
              th Enabled?
            tr
              td AutoNotify
              if (!announcerSettings)
                td Unknown
              if (announcerSettings.enableBotLogger)
                td Yes
              if (!announcerSettings.enableBotLogger)
                td No
            tr
              td ChatBot
              if (!chatBotSettings)
                td Unknown
              if (chatBotSettings.enableAutoChat)
                td Yes
              if (!chatBotSettings.enableAutoChat)
                td No
            tr
              td ModBot
              if (!autoModSettings)
                td Unknown
              if (autoModSettings.enableAutoMod)
                td Yes
              if (!autoModSettings.enableAutoMod)
                td No
        .settings_card_modules
          h5 Logging Modules
          table.settings_table_main(border="1")
            tr
              th Module Name
              th Enabled?
            tr
              td Bot Logger
              if (!botLogSettings)
                td Unknown
              if (botLogSettings.enableBotLogger)
                td Yes
              if (!modLogSettings.enableBotLogger)
                td No
            tr
              td Mod Logger
              if (!modLogSettings)
                td Unknown
              if (modLogSettings.enableModLogger)
                td Yes
              if (!modLogSettings.enableModLogger)
                td No
      .settings_card_modules
        h4 Danger Zone
        .settings_card_modules.danger_block
          h5 Reset Settings
          a.btn.btn-block.btn-outline-danger(data-toggle='modal' data-target='#settingsResetModal' role='button') RESET DEFAULTS
          br
          h5 Leave Guild
          a.btn.btn-block.btn-outline-danger(data-toggle='modal' data-target='#serverLeaveModal' role='button') LEAVE GUILD
      include ../blocks/guild-modals
          



include ../blocks/footer