<%- include('blocks/header', {bot, user, path}) %>
<% 
const groups = bot.registry.groups 
%>
<div class="container">
  <h2>Commands</h2>
  <%
  const allCmds = (`${groups.filter(grp => grp.commands.some(cmd => !cmd.hidden)).map(grp => `
    ${grp.name} ${grp.commands.filter(cmd => !cmd.hidden).map(cmd => `
        ${cmd.name}: ${cmd.description}${cmd.nsfw ? ' (NSFW)' : ''}`).join('')
      }`).join('\n')
  }`) %>
  <div style="white-space: pre-wrap"><%= allCmds %><div/>
  
<% include('./blocks/footer') %>