<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
    <div class="jumbotron text-center bg-transparent">
        <h1 class="display-4">Under construction!</h1>
        <p class="lead"></p>This part of the dashboard is not yet completed. You'll have to use the commands in the meantime to change my settings. Sorry about that. - Cora
    </div>
</div>