include ../blocks/header
.container
  .jumbotron.text-center.bg-transparent
    h1.display-4 500 Internal Server Error
    p.lead 
    | Unrecoverable error. Service stopped unexpectedly!
    | Please report this to my administrator.