nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href="#") CORA BELLE LYNX
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#main-navbar")
        span.navbar-toggler-icon
      #main-navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/about") About Me
          li.nav-item
            a.nav-link(href="/status") Status
          li.nav-item
            a.nav-link(href="#") Invite
          li.nav-item
            a.nav-link(href="https://github.com/NovaLynxie/CoraBot_ReplIt") Github
          li.nav-item
            a.nav-link(href="#") Discord