@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

.alert {
  padding: 1rem 2rem;
  margin: auto;
}

.auth-fail {
  width: 25%;
  height: 25%;
}

.bg-base {
  background-color: rgba(79, 93, 112, 0.486)
}

.alert-dismissible .btn-close {
  padding: 1.25rem 1rem;
}
.btn-group.btn-flex {
  display: flex;
}
.btn, .btn-flex {
  flex: 1
}

.container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#guildID {
  width: fit-content;
  filter: blur(5px)
}
#guildID:hover {
  filter: blur(0px);
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
fieldset {
  width : 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

.modal-legend {
  font-size: 1.25rem;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

td {
  text-align: left;
}