.commands-help {
  padding: 2rem;
  background-color: #6494ed3b;
  border: solid #64cded6c 5px;
}
.commands-list {
  padding: 2rem;
  background-color: #6494ed46;
  border: solid #64cded6c 5px;
}

.danger-block {
  background-color: #964b2e25;
  border: solid #ff1f1f49 2px;
}

.edit-settings {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.roleBox {
  border-radius: 3px;
  padding: 0px 3px;
  font-size: 0.8em;
  white-space: nowrap;
}

.status {
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  float: left;
  vertical-align: middle;
  margin: 5px;
}

.online {
  background-color: #42b581;
  border-color: #69c49a;
}
.idle {
  background-color: #faa61a;
  border-color: #fbb848;
}
.dnd {
  background-color: #f04747;
  border-color: #f36c6c;
}
.offline {
  background-color: #747f8d;
  border-color: #9099a4;
}

.guild-card {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  min-height: 200px;
  min-width: 240px;
  color: #ffffff;
  background-color: #82868b;
  border: solid #4c5155 4px;
  border-radius: 10%;  
}
.guild-thumb {
  margin: 10px;
  background-color: #2c2f33;
  border-style: solid #7289da 4px;
  border-radius: 10%;
}
.guild-icon {
  position: absolute;
  top: 2; left: 3; z-index: 2;
  margin: 10px;
  max-height: 72px;
  max-width: 72px;
  background-color: #2c2f33;
  border: solid #7289da 4px;
  border-radius: 10%;  
  transition: all .2s ease-in-out;
}
@media screen and (min-width:1280px) {
  .guild-icon:hover { 
    transform: scale(1.5); 
    transform-origin: top left;
  }
}
.guild-banner {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 360px;
  margin-bottom: 12px;
  background-color: #2c2f33;
  border: solid #7289da 5px;
  border-radius: 5%;
}
.details-card {
  vertical-align: top;
  min-height: 450px;
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 0.5rem;
  background-color: #7676914b;
  border: solid #585f7e49 2px;
}
.details-wrapper {
  min-height: 180px;
  min-width: 200px;
  background-color: #7676914b;
  border: solid #585f7e49 1px;
}
.profile-avatar {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  float: left;
  margin: 10px;
  max-height: 128px;
  max-width: 128px;
  background-color: #2c2f33;
  border: solid #7289da 4px;
  border-radius: 10%;
}
.profile-banner {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 360px;
  margin-bottom: 12px;
  background-color: #2c2f33;
  border: solid #7289da 4px;
  border-radius: 5%;
}
.profile-card {  
  margin: auto;
  height: auto;
  width: auto;
  text-align: left;
  padding: 0.5rem;
  background-color: #288cff42;
  border: solid #0084ff49 2px;
}
.profile-settings {
  margin: auto;
  padding: 0.5rem;
  background-color: #288cff42;
  border: solid #0084ff49;
}
.member-actions {
  float: right;
  width: auto;
  position: absolute;
  bottom: 36%;
  right: 5%;
}
.member-avatar {
  float: right;
  margin: 10px;
  text-align: center;
  max-height: 64px;
  max-width: 64px;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #2c2f33;
  border: solid #7289da 4px;
  border-radius: 10%;
}
.member-card {
  position: relative;
  vertical-align: top;
  height: 300px;
  width: 320px;
  display: inline-block;
  text-align: left;
  padding: 0.5rem;
  background-color: #288cff42;
  border: solid #0084ff49;  
  border-width: 2px;
}
.music-card {
  position: relative;
  vertical-align: top;
  display: inline-block;
  max-width: 70%;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #28dfff42;
  border: solid #00c3ff49;
  border-width: 2px;
}

.settings-card-base {
  text-align: left;  
  padding: 0.5rem;
  background-color: #7676914b;
  border: solid #585f7e49 2px;
}
.settings-card-status {
  vertical-align: top;
  min-height: 320px;
  min-width: 300px;
  display: inline-block;
  text-align: left;
  padding: 0.5rem;
  background-color: #7676914b;
  border: solid #585f7e49 2px;
}
.settings-card-modules {
  position: relative;
  vertical-align: top;
  min-height: 550px;
  min-width: 33%;
  display: inline-block;
  text-align: left;
  padding: 0.5rem;
  background-color: #748fc08c;
  border: solid #5f73978c 2px;
}
.settings-card-block {
  max-width: 320px;
}
.settings-text-wrapper {
  min-height: 120px;
  min-width: 240px;
  background-color: #7676914b;
  border: solid #585f7e49 1px;
}
.settings-card-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.settings-table-main {
  text-align: center;
  width: 100%;
  border: 1px solid powderblue;
  border-collapse: collapse;
}