// Admin Dashboard Modals
#clientSettingsModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='clientSettingsModalLabel' aria-hidden='true')
  form(action=`/admin/save_clsettings`, method='POST')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#clientSettingsModal.modal-title Client Settings
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          legend.modal-legend Bot Settings
          .form-group
            label.form-label.mt-4(for='botPrefix') 
            | Bot Prefix (Can only be changed from config files!)
            input#botPrefix.form-control(type='text' name='botPrefix' value=bot.options.commandPrefix disabled)
          br
          legend.modal-legend Module Enable/Disable
          .form-check.form-switch
            if (enableAutoMod)
              input#enableAutoMod.form-check-input(type='checkbox' name='enableAutoMod' checked='')
              label.form-check-label(for='enableAutoMod') Auto Moderation
            else
              input#enableAutoMod.form-check-input(type='checkbox' name='enableAutoMod')
              label.form-check-label(for='enableAutoMod') Auto Moderation
          .form-check.form-switch
            if (enableNotifier)
              input#enableNotifier.form-check-input(type='checkbox' name='enableNotifier' checked='')
              label.form-check-label(for='enableNotifier') Bot Notifications
            else
              input#enableNotifier.form-check-input(type='checkbox' name='enableNotifier')
              label.form-check-label(for='enableNotifier') Bot Notifications
          .form-check.form-switch
            if (enableChatBot)
              input#enableChatBot.form-check-input(type='checkbox' name='enableChatBot' checked='')
              label.form-check-label(for='enableChatBot') Chat Bot
            else
              input#enableChatBot.form-check-input(type='checkbox' name='enableChatBot')
              label.form-check-label(for='enableChatBot') Chat Bot
          .form-check.form-switch
            if (enableBotLogs)
              input#enableBotLogs.form-check-input(type='checkbox' name='enableBotLogs' checked='')
              label.form-check-label(for='enableBotLogs') Bot Logger
            else
              input#enableBotLogs.form-check-input(type='checkbox' name='enableBotLogs')
              label.form-check-label(for='enableBotLogs') Bot Logger
          .form-check.form-switch
            if (enableModLogs)
              input#enableModLogs.form-check-input(type='checkbox' name='enableModLogs' checked='')
              label.form-check-label(for='enableModLogs') Mod Logger
            else
              input#enableModLogs.form-check-input(type='checkbox' name='enableModLogs')
              label.form-check-label(for='enableModLogs') Mod Logger
        .modal-footer
          button.btn.btn-outline-secondary(type='button' data-bs-dismiss='modal') CANCEL
          button.btn.btn-outline-primary(type='submit' value="Submit") SAVE CHANGES 
            i.fas.fa-save(aria-hidden='true')
#resetDatabaseModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='resetDatabaseModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#resetDatabaseModal.modal-title Reset All Bot Settings?
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        p.main
          | Are you sure you want to reset all the bot's settings?
          br
          | This will completely wipe all of the settings and reset everything back to the default presets!
      .modal-footer
        button.btn.btn-outline-secondary(type='button' data-bs-dismiss='modal') ABORT
        a.btn.btn-outline-danger(href=`/admin/reset_settings` role='button') CONFIRM