footer#footer
  .container
    .row
      .col-lg-12
        a.float-lg-right(href='#top') Back to Top
        p
          | Made by 
          a(href='https://github.com/NovaLynxie') NovaLynxie 
          | 
          i.fab.fa-github
          br
          | Dashboard concept based on 
          a(href='https://github.com/AnIdiotsGuide/guidebot/tree/dashboard') GuideBot
          | 
          i.fab.fa-github
          br
          | Based on 
          a(href='https://getbootstrap.com') Bootstrap 
          | 
          i.fab-fa-bootstrap
          br
          | Icons from 
          a(href='https://fontawesome.com') Font Awesome
          | 
          br
          | Quartz Theme from 
          a(href='https://bootswatch.com/') Bootswatch