footer#footer
  .container
    .row
      .col-lg-12
        a.float-lg-right(href='#top') Back to Top
        p
          | Made by 
          a(href='https://github.com/NovaLynxie') NovaLynxie
          br
          | Original Design By 
          a(href='https://anidiots.guide') An Idiot's Guide
          | .
          br
          | Based on 
          a(href='https://getbootstrap.com') Bootstrap
          | .
          br
          | Icons from 
          a(href='https://fontawesome.com') Font Awesome
          | .
          br
          | Darkly Theme from 
          a(href='https://bootswatch.com/') Bootswatch