.card-header(style='padding: 2px;')
- var guildID = guild.id
  ul.nav.nav-tabs
    li.nav-item
      a(href=`/dashboard/${guildID}/manage`) Settings
    li.nav-item
      a(href=`/dashboard/${guildID}/members`) Members