// Meta Viewport
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
doctype html
html(lang="en")
// Bootstrap CSS
//link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css')
// Local CSS
link(rel='stylesheet' href='/public/stylesheets/custom.css')
link(rel='stylesheet' href='/public/stylesheets/darkly.css')
link(rel='stylesheet' href='/public/stylesheets/dashboard.css')
// jQuery first, then Popper.js, then Bootstrap JS
script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous", defer)
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous', defer)
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous', defer)
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js' integrity='sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=' crossorigin='anonymous')

// Disabled datatables since this appears to not work correctly. Commented out till a fix is possible.
//script(src="https://cdn.datatables.net/v/bs4/dt-1.10.24/cr-1.4.1/r-2.2.0/datatables.js")
//script(src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js')
//script(src='https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js')

// Header
title #{bot.user.username} Dashboard