// page master layout
  Main Dashboard Layout. All page templates extend from this.
block global_vars
doctype html
html(lang="en")
  head
    include header
  body(id="page-top" role="document")
    include navbar  
    block content
  block footer
    include footer