// page master layout
  Main Dashboard Layout. All page templates extend from this.
block global_vars
doctype html
html(lang="en")
  head
    include header
    //title #{bot.user.username} Dashboard
  body(id="page-top" role="document")
    include navbar
    content
      block content
  include footer