footer#footer
  .container
    .row
      .col-lg-12
        a.float-lg-right(href='#top') Back to Top
        p
          i.fab.fa-github
          | 
          | Made by 
          a(href='https://github.com/NovaLynxie') NovaLynxie
          br
          i.fab.fa-github
          | 
          | Dashboard based on 
          a(href='https://github.com/AnIdiotsGuide/guidebot/tree/dashboard') AnIdiotsGuide GuideBot
          
          br
          i.fab.fa-bootstrap
          | 
          | Based on 
          a(href='https://getbootstrap.com') Bootstrap          
          br
          i.fab.fa-font-awesome
          | 
          | Icons from 
          a(href='https://fontawesome.com') Font Awesome
          br
          i.fab.fa-css3
          | 
          | Darkly Theme from 
          a(href='https://bootswatch.com/') Bootswatch