- var guildID = guild.id
.card-header(style='padding: 2px;')
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active(href='#guildManagePanel' data-bs-toggle='tab') Settings 
    li.nav-item
      a.nav-link(href='#guildMembersPanel' data-bs-toggle='tab') Members