- var guildID = guild.id
.card-header(style='padding: 2px;')

  //ul.nav.nav-pills
    li.nav-item
      a.nav-link(href=`/dashboard/${guildID}/manage`) Settings 
    li.nav-item
      a.nav-link(href=`/dashboard/${guildID}/members`) Members
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(href='#guildManagePanel' data-bs-toggle='tab') Settings 
    li.nav-item
      a.nav-link(href='#guildMembersPanel' data-bs-toggle='tab') Members