include ../blocks/header
.container
  .jumbotron.text-center.bg-transparent
    h1.display-4 401 Unauthorized
    p.lead
    | You tried to access restricted content without a valid login. Please login with a valid account to gain access.
    br
    | If you feel this is in error, please contact my administrator.