doctype 
html(lang='en')
  head
    include includes/header.pug
    include includes/navbar.pug
    link(rel='stylesheet', href='/css/index.css')
  body
    .jumbotron.text-center.bg-transparent
      h1.display-4 CoraBot
      p.lead Home of Cora Belle Lynx, the main discord bot used in Lynx's Den.
      p 
        | Hello World! My name is Cora Belle Lynx, a NodeJS Discord bot built by NovaLynxie.
        br
        | A while back, I was made as a small test bot to help run experimental features and help them as a discord bot for their guild.
        br
        | Now, I am much more stable compared to my early days of running experimental code and testing the limits of what I could achieve.
        br
        | My main purpose is to help you bring some life to your discord guild or community server, wherever I can.
        br
        | I can play some music for you, give you information about me or help you moderate your own guild using my own custom built admin commands!
        br
        | Don't worry, I also come with a help command so you can find out what commands I have, just ask whenever you're having trouble remembering one of my commands.
  footer
    include includes/footer.pug
