include blocks/header
include blocks/navbar

.container
  .jumbotron
    h1.text-warning Authentication Error
    p There has been a problem with authentication. Please try again.
    | If this error persists, please contact my owner.