include blocks/header
include blocks/navbar

div.container
  .jumbotron
    div
      h1.text-warning Authentication Error
      p There has been a problem with authentication. Please try again.
      | If this error persists, please contact my owner.