include blocks/header
include blocks/navbar

.container
  .jumbotron
    h1.text-warning Authentication Error
    img(src="" alt="broken padlock")
    p Whoops! Something went wrong during authentication!
    | Either the previous action was interrupted by the user or verification did not complete successfully.
    | Please go back and retry the action you were doing.
    | If this error persists, please contact my owner.
    
include blocks/footer