extends blocks/layout
block content  
  .container
    .jumbotron
      br
      div
        h2 Command Help
        p
        | Here is a list of all the commands Cora has available.
        br
        | To get detailed help for command usage, go to any server CoraBot is in and either mention @#{bot.user.tag} or use the command prefix set for that server. The bot's default prefix is set as '#{bot.commandPrefix}'.
        br
        | Example Usage: @#{bot.user.tag} &lt;command_name&gt; 
      br
      div
        h3 Available Commands
        div(style='white-space: pre-wrap') #{all_commands}
      br