doctype 
html(lang='en')
  head
    include includes/header.pug
    include includes/navbar.pug
    link(rel='stylesheet', href='/css/index.css')
  body
    .jumbotron.text-center.bg-transparent
      h1.display-4 CoraBot
      p.lead Home of Cora Belle Lynx, the main discord bot used in Lynx's Den.
      p 
        | Hello World! My name is Cora Belle Lynx, a NodeJS Discord bot built by NovaLynxie.
        br
        | Currently serving #{users} users in #{guilds} guilds. Watching #{channels} channels.
        br
        | Created by NovaLynxie. Powered by DiscordJS and hosted on Repl.it.
  footer
    include includes/footer.pug