include blocks/header
.container
  .jumbotron
    h1 #{bot.user.username} Dashboard
    p.lead
      if (bot.application.description.length > 3)
        | #{bot.application.description}
      else
        | No description was provided.
    p.lead
      a.btn.btn-primary(href='/commands' role='button') Command Help »