doctype 
html(lang='en')
  head
    include includes/header.pug
    link(rel='stylesheet', href='/css/index.css')
  body
    .jumbotron.text-center.bg-transparent
      h1.display-4 CoraBot
      h2.display-5 Bot status page.
      p System Diagnostics
        br
        | Uptime: (NOT YET IMPLEMENTED!)
        br
        | Guilds: #{guilds}
        br
        | Users: #{users}
        br
        | Channels (Voice: #{chVoice}, Text: #{chText})
        